<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.media" android:versionCode="1" android:versionName="1.0" package="com.baidu.fm"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application android:theme="@yi:style/Theme.DeviceDefault.Light.DarkActionBar" android:label="@string/app_name" android:icon="@drawable/ic_element_appicon_fmradio" android:allowClearUserData="false">
        <uses-library android:name="framework-yi" android:required="true" />
        <activity android:theme="@yi:style/Theme.DeviceDefault.Light.DarkActionBar" android:label="@string/app_name" android:name=".FMRadio" android:launchMode="singleTask" android:screenOrientation="portrait" android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.baidu.yi.fm.FMRADIO_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@yi:style/Theme.DeviceDefault.Light.DarkActionBar" android:label="@string/station_list" android:name=".StationListShow" android:screenOrientation="portrait" />
        <activity android:name=".FmMidTest" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.fm.FmMidTest" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestFM" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.fm.test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".FMRadioService" android:exported="true" />
        <receiver android:name=".FMMediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>